In [39]:
import pandas as pd
import json
import geopandas as gpd

In [40]:
county = gpd.read_file('county.json')

In [41]:
county.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,04,015,00025445,0500000US04015,04015,Mohave,06,34475503964,387344307,"POLYGON ((-114.050618928072 36.8431412145167, ..."
1,22,105,00559500,0500000US22105,22105,Tangipahoa,15,2049488093,136678798,"POLYGON ((-90.567195 30.999733, -90.5476154821..."
2,16,063,00395624,0500000US16063,16063,Lincoln,06,3111451190,11606076,"POLYGON ((-114.594605 43.198345, -114.374962 4..."
3,27,119,00659505,0500000US27119,27119,Polk,06,5105067510,69169913,"POLYGON ((-97.1457019134364 48.1732232314736, ..."
4,38,017,01034226,0500000US38017,38017,Cass,06,4571107601,7732062,"POLYGON ((-97.706034 47.239978, -97.4515119999..."

In [42]:
maindata = pd.read_csv('newmaindata.csv')

In [43]:
maindata.head()

,STATE,COUNTY,STNAME,VOLOVERALLFEMALE1112ALL,VOLOVERALLFEMALE1112AA,VOLOVERALLFEMALE1112HISP,VOLOVERALLFEMALE1112OTHER,VOLOVERALLMALE1112ALL,VOLOVERALLMALE1112AA,VOLOVERALLMALE1112HISP,...,NORMLOWINCOMEBOTH1826HISP,NORMLOWINCOMEBOTH1826OTHER,NORMLOWINSUREDBOTH1112ALL,NORMLOWINSUREDBOTH1112AA,NORMLOWINSUREDBOTH1112HISP,NORMLOWINSUREDBOTH1112OTHER,NORMLOWINSUREDBOTH1826ALL,NORMLOWINSUREDBOTH1826AA,NORMLOWINSUREDBOTH1826HISP,NORMLOWINSUREDBOTH1826OTHER
0,1,1,Alabama,846.4,161.2,28.8,812.4,838.8,174.4,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,Alabama,2550.4,264.0,157.6,2329.2,2609.6,288.0,141.2,...,0.002523,0.023523,0.01597,0.037964,0.00056,0.053235,0.016431,0.010964,0.00381,0.052489
2,1,5,Alabama,318.0,171.6,17.2,299.6,322.4,174.4,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,7,Alabama,250.8,42.0,6.4,244.0,299.6,55.6,4.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,9,Alabama,795.2,13.6,112.4,682.0,792.4,14.0,107.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
county.STATEFP = pd.Series(county.STATEFP, dtype = 'float64')
county.COUNTYFP = pd.Series(county.COUNTYFP, dtype = 'float64')

In [45]:
subdata = pd.read_csv('newsubdata.csv')

In [46]:
subdata.head()

,STATE,COUNTY,VOLNODRSCOREMALE1112,VOLNODRSCOREFEMALE1112,VOLNODRSCOREMALE1826,VOLNODRSCOREFEMALE1826,VOLDRSCOREMALE1112,VOLDRSCOREFEMALE1112,VOLDRSCOREMALE1826,VOLDRSCOREFEMALE1826,...,NORMDRSCOREMALE1826,NORMDRSCOREFEMALE1826,VOLNODRSCOREBOTH1112,VOLNODRSCOREBOTH1826,VOLDRSCOREBOTH1112,VOLDRSCOREBOTH1826,NORMNODRSCOREBOTH1112,NORMNODRSCOREBOTH1826,NORMDRSCOREBOTH1112,NORMDRSCOREBOTH1826
0,1,1,916.755181,929.538620,759.701505,744.178758,0.133872,0.135739,0.110938,0.108671,...,0.011582831,0.011668593,923.1469009,751.9401314,0.13480533,0.109804342,0.008507266,0.005758807,0.013945686,0.011625712
1,1,3,2899.651985,2886.038595,2471.928066,2404.739402,0.423430,0.421443,0.360971,0.351159,...,0.037688389,0.037708702,2892.84529,2438.333734,0.42243652,0.35606509,0.026687499,0.018677009,0.043706509,0.037698545
2,1,5,343.826697,350.533330,440.402207,303.586902,0.050208,0.051188,0.064311,0.044332,...,0.006714617,0.004759444,347.1800136,371.9945541,0.050698016,0.054321635,0.003189898,0.002841235,0.005241901,0.005737031
3,1,7,323.489486,275.428191,365.080991,273.579679,0.047239,0.040220,0.053312,0.039950,...,0.005566228,0.004288886,299.4588382,319.3303352,0.043729386,0.046631182,0.002744541,0.002440146,0.004515602,0.004927557
4,1,9,803.884602,844.965311,723.885328,673.291192,0.117390,0.123389,0.105708,0.098319,...,0.011036758,0.010556968,824.4249567,698.5882599,0.120389158,0.102013473,0.007598449,0.00534816,0.012456626,0.010796863

In [47]:
newdata = pd.merge(county, maindata, how = 'left', left_on = ['STATEFP', 'COUNTYFP'], right_on=['STATE','COUNTY'])
newdata = pd.merge(newdata, subdata, how = 'left', left_on = ['STATEFP', 'COUNTYFP'], right_on=['STATE','COUNTY'])

In [48]:
newdata.to_file('countymerged.json', driver = 'GeoJSON')