In [55]:
import pandas as pd
import json
import geopandas as gpd

In [56]:
department = gpd.read_file('francenew.geojson')

In [57]:
department = department[department.NUTS_ID.str.startswith('FR', na=False)==True]

In [58]:
department.head()

,id,CNTR_CODE,NUTS_NAME,LEVL_CODE,FID,NUTS_ID,geometry
696,FR262,FR,Nièvre,3,FR262,FR262,"POLYGON ((4.10608 47.33925, 4.1249 47.33586, 4..."
697,FR263,FR,Saône-et-Loire,3,FR263,FR263,"POLYGON ((5.25523 46.97989, 5.32882 46.8876, 5..."
698,FR264,FR,Yonne,3,FR264,FR264,"POLYGON ((4.29342 47.92567, 4.31272 47.90497, ..."
699,FR301,FR,Nord,3,FR301,FR301,"POLYGON ((2.60704 50.91269, 2.63495 50.81274, ..."
700,FR302,FR,Pas-de-Calais,3,FR302,FR302,"POLYGON ((3.09025 50.05374, 2.8827 50.0312, 2...."

In [59]:
maindata = pd.read_csv('maindatafrance.csv')

In [60]:
maindata.head()

,NUTS,VOLMALE1112,VOLFEMALE1112,VOLMALE1926,VOLFEMALE1926,VOLBOTH1112,VOLBOTH1926,VOLMALE18PLUS,VOLMALE18PLUSAGAINST,VOLFEMALE18PLUS,...,NORMMALE1926,NORMFEMALE1926,NORMBOTH1112,NORMBOTH1926,NORMMALE18PLUS,NORMMALE18PLUSAGAINST,NORMFEMALE18PLUS,NORMFEMALE18PLUSAGAINST,NORMBOTH18PLUS,NORMBOTH18PLUSAGAINST
0,FR101,20095,19304,140806,169475,39399,160110,865399,328852,999862,...,0.937788,1.000000,0.563560,0.870752,0.932436,0.932437,0.967248,0.967248,0.950820,0.950820
1,FR102,19446,18347,69473,70301,37793,87820,480199,182476,516278,...,0.452203,0.405261,0.539567,0.467916,0.501965,0.501964,0.484330,0.484330,0.492652,0.492652
2,FR103,19710,18417,68189,68703,38127,86606,509740,193701,553805,...,0.443462,0.395677,0.544557,0.461151,0.534978,0.534976,0.521805,0.521805,0.528021,0.528021
3,FR104,16799,16006,65830,62674,32805,81836,445647,169346,475551,...,0.427403,0.359522,0.465049,0.434571,0.463352,0.463351,0.443659,0.443659,0.452952,0.452952
4,FR105,18974,18339,81321,85002,37313,99660,569510,216414,650119,...,0.532855,0.493421,0.532396,0.533895,0.601772,0.601772,0.617986,0.617986,0.610335,0.610335

In [61]:
newdata = pd.merge(maindata, department, how = 'inner', left_on ='NUTS', right_on='NUTS_ID')
geonewdata = gpd.GeoDataFrame(newdata)

In [62]:
type(department)

geopandas.geodataframe.GeoDataFrame

In [64]:
geonewdata.to_file('departementmerged.json', driver = 'GeoJSON')

In [65]:
geonewdata.head()

,NUTS,VOLMALE1112,VOLFEMALE1112,VOLMALE1926,VOLFEMALE1926,VOLBOTH1112,VOLBOTH1926,VOLMALE18PLUS,VOLMALE18PLUSAGAINST,VOLFEMALE18PLUS,...,NORMFEMALE18PLUSAGAINST,NORMBOTH18PLUS,NORMBOTH18PLUSAGAINST,id,CNTR_CODE,NUTS_NAME,LEVL_CODE,FID,NUTS_ID,geometry
0,FR101,20095,19304,140806,169475,39399,160110,865399,328852,999862,...,0.967248,0.950820,0.950820,FR101,FR,Paris,3,FR101,FR101,"POLYGON ((2.41635 48.84924, 2.46974 48.83581, ..."
1,FR102,19446,18347,69473,70301,37793,87820,480199,182476,516278,...,0.484330,0.492652,0.492652,FR102,FR,Seine-et-Marne,3,FR102,FR102,"POLYGON ((3.48518 48.85191, 3.4872 48.81519, 3..."
2,FR103,19710,18417,68189,68703,38127,86606,509740,193701,553805,...,0.521805,0.528021,0.528021,FR103,FR,Yvelines,3,FR103,FR103,"POLYGON ((2.20059 48.90868, 2.16333 48.88844, ..."
3,FR104,16799,16006,65830,62674,32805,81836,445647,169346,475551,...,0.443659,0.452952,0.452952,FR104,FR,Essonne,3,FR104,FR104,"POLYGON ((2.32072 48.74876, 2.3707 48.72017, 2..."
4,FR105,18974,18339,81321,85002,37313,99660,569510,216414,650119,...,0.617986,0.610335,0.610335,FR105,FR,Hauts-de-Seine,3,FR105,FR105,"POLYGON ((2.31989 48.90046, 2.22422 48.85352, ..."

In [66]:
department = gpd.read_file('departement.json')

In [67]:
department.head(

SyntaxError: unexpected EOF while parsing (<ipython-input-67-64cad6cf79bb>, line 1)